@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #06141d;
    color: #d9d9d9;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #06141d;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #06141d;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1b2730;
}

/* suggested user  */
.suggested_user .profile img {
    min-width: 40px;
    height: 40px;
    object-fit: cover;
}
/* slider image */
.mySwiper,
.mySwiper .swiper-wrapper {
    z-index: unset !important;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 6px !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 6px !important;
}
/* .swiper-button-prev,
  .swiper-button-next {
    top: 148px !important;
  } */

/* .chat_area .border-gray-300 {
    border-color:#d1d5db30 !important;
} */

.swiper-button-prev::after,
.swiper-button-next::after {
    color: rgb(51 65 85 / var(--tw-bg-opacity));
    --tw-bg-opacity: 1;
    background-color: white;
    width: 1.75rem !important;
    height: 1.75rem;
    border-radius: 9999px;

    font-size: 13px !important;
    font-weight: bolder !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper .swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
    display: none;
}



/*  */
.chat_input_area section#root {
    /* height: 353px;
    width: 400px; */
    width: 296px;
    height: 260px;
    position: absolute;
    bottom: -80px;
}
/*  */
.box-on-hover:hover {
    box-shadow: 12px 12px 1px 1px rgb(255, 255, 255);
}
.box-on-hover:hover h1,
p {
    color: white;
}
.input-on-hover:hover {
    box-shadow: 4px 4px 1px 1px rgb(255, 253, 253);
}

/* add tweet slider */
.slides {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.slides::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
@media (min-width: 768px) {
    .slides.moving-left {
        transform: translateX(-100%); /* Animation step for moving left */
    }

    .slides.moving-right {
        transform: translateX(0); /* Animation step for moving right */
    }
}

.show .group-\[\&\.show\]\:translate-y-0 {
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
        skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.dark\:bg-surfacedark-100 {
    --tw-bg-opacity: 1;
    /* background-color: rgb(38 36 42 / var(--tw-bg-opacity)); */
    background-color: rgb(00 00 00 / var(--tw-bg-opacity));
}

/* like button css */

.like-svg:hover label #heart {
    stroke: rgb(224 36 36); /* Hover color */
}
.like-svg:hover {
    color: rgb(224 36 36);
}

svg {
    cursor: pointer;
    overflow: visible;
    width: 34px;
}
svg #heart {
    transform-origin: center;
    animation: animateHeartOut 0.3s linear forwards;
}

svg #main-circ {
    transform-origin: 29.5px 29.5px;
}
.checkbox-cls {
    display: none;
}
.checkbox-cls:checked + label svg #heart {
    transform: scale(0.2);
    fill: #e2264d;
    animation: animateHeart 0.3s linear forwards 0.25s;
    stroke-width: 0;
}
.checkbox-cls:checked + label svg #main-circ {
    transition: all 2s;
    animation: animateCircle 0.3s linear forwards;
    opacity: 1;
}
.checkbox-cls:checked + label svg #grp1 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}
.checkbox-cls:checked + label svg #grp1 #oval1 {
    transform: scale(0) translate(0, -30px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}
.checkbox-cls:checked + label svg #grp1 #oval2 {
    transform: scale(0) translate(10px, -50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}
.checkbox-cls:checked + label svg #grp2 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}
.checkbox-cls:checked + label svg #grp2 #oval1 {
    transform: scale(0) translate(30px, -15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}
.checkbox-cls:checked + label svg #grp2 #oval2 {
    transform: scale(0) translate(60px, -15px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}
.checkbox-cls:checked + label svg #grp3 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}
.checkbox-cls:checked + label svg #grp3 #oval1 {
    transform: scale(0) translate(30px, 0px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}
.checkbox-cls:checked + label svg #grp3 #oval2 {
    transform: scale(0) translate(60px, 10px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}
.checkbox-cls:checked + label svg #grp4 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}
.checkbox-cls:checked + label svg #grp4 #oval1 {
    transform: scale(0) translate(30px, 15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}
.checkbox-cls:checked + label svg #grp4 #oval2 {
    transform: scale(0) translate(40px, 50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}
.checkbox-cls:checked + label svg #grp5 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}
.checkbox-cls:checked + label svg #grp5 #oval1 {
    transform: scale(0) translate(-10px, 20px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}
.checkbox-cls:checked + label svg #grp5 #oval2 {
    transform: scale(0) translate(-60px, 30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}
.checkbox-cls:checked + label svg #grp6 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}
.checkbox-cls:checked + label svg #grp6 #oval1 {
    transform: scale(0) translate(-30px, 0px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}
.checkbox-cls:checked + label svg #grp6 #oval2 {
    transform: scale(0) translate(-60px, -5px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}
.checkbox-cls:checked + label svg #grp7 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}
.checkbox-cls:checked + label svg #grp7 #oval1 {
    transform: scale(0) translate(-30px, -15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}
.checkbox-cls:checked + label svg #grp7 #oval2 {
    transform: scale(0) translate(-55px, -30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}
.checkbox-cls:checked + label svg #grp2 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}
.checkbox-cls:checked + label svg #grp3 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}
.checkbox-cls:checked + label svg #grp4 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}
.checkbox-cls:checked + label svg #grp5 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}
.checkbox-cls:checked + label svg #grp6 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}
.checkbox-cls:checked + label svg #grp7 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}
@keyframes animateCircle {
    40% {
        transform: scale(10);
        opacity: 1;
        fill: #dd4688;
    }
    55% {
        transform: scale(11);
        opacity: 1;
        fill: #d46abf;
    }
    65% {
        transform: scale(12);
        opacity: 1;
        fill: #cc8ef5;
    }
    75% {
        transform: scale(13);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0.5;
    }
    85% {
        transform: scale(17);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0.2;
    }
    95% {
        transform: scale(18);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0.1;
    }
    100% {
        transform: scale(19);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0;
    }
}
@keyframes animateHeart {
    0% {
        transform: scale(0.2);
    }
    40% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes animateHeartOut {
    0% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}
